<div class="shadow area"
<?php
	if (intval($value['SUMMARY']['TOTAL']) > 0)
	{
?>
     style="background: <?php echo (intval($value['SUMMARY']['PENDING']) == 0 ? 'mediumseagreen' : 'indianred'); ?>"
<?php
	}
?>
>
<?php
	$object = array();
	$object['APP_NAME'] = $value['SUMMARY']['APP_NAME'];
?>
	<button class="label" onclick="show('AS','Application Settings','<?php echo htmlspecialchars(json_encode($object,JSON_FORCE_OBJECT)); ?>')">
		<h3><?php echo $value['SUMMARY']['APP_DESC'] ?></h3>
	</button>
<?php
	if (intval($value['SUMMARY']['TOTAL']) > 0 and isset($value['CONTENT']))
	{
?>
	<div>
		<button class="details area"
		        onclick="showDetails(this.parentNode.querySelector('table'))">
			<span ><?php $this->showMessage('INS_TOTAL') ;?><?php echo $value['SUMMARY']['TOTAL'] ?></span>
			<span style="color:
			<?php
				if ($value['SUMMARY']['LAUNCHED'] > 0) echo 'darkgreen';
				else echo 'black';
			?>
				"><?php $this->showMessage('INS_LAUNCHED') ;?><?php echo $value['SUMMARY']['LAUNCHED'] ?>
			</span>
			<span style="color:
			<?php
				if ($value['SUMMARY']['PENDING'] > 0) echo 'darkred';
				else echo 'black';
			?>
				"><?php $this->showMessage('INS_PENDING') ;?><?php echo $value['SUMMARY']['PENDING'] ?>
			</span>
		</button>
		<table>
			<thead>
				<tr>
					<th>State</th>
					<th>Instance</th>
					<th>Description</th>
					<th>HeartBeat</th>
					<th>Scheduled at</th>
					<th>Host</th>
					<th>Pending action</th>
				</tr>
			</thead>
			<tbody>
			<?php
				foreach ($value['CONTENT'] as $v)
				{
					include('./templates/row.html');
				}
			?>
			</tbody>
		</table>
	</div>
<?php
	}
?>
</div>