<?php
	if (intval($value['SUMMARY']['TOTAL']) > 0)
	{
		if ($value['SUMMARY']['PENDING'] == 0)
		{
?>
	<div class="shadow area" style="padding: 0;background:mediumseagreen">
<?php
		}
		else
		{
?>
	<div class="shadow area" style="padding: 0;background:indianred;">
<?php
			}
		}
		elseif (intval($value['SUMMARY']['TOTAL']) == 0)
		{
?>
		<div class="shadow area" style="padding: 0;height:37px">
<?php
		}
?>
			<?php
				$object = array();
				$object['APP_NAME'] = $value['SUMMARY']['APP_NAME'];
			?>
		<div class="label" style="position: absolute;z-index: 2;margin: 5px">
			<!--<a class="link classic"
			   href="http://administrating/Settings/Show/Application/<?php echo $value['SUMMARY']['APP_NAME'] ?>"><?php echo $value['SUMMARY']['APP_NAME'] ?></a>
			-->
			<button class="link classic" onclick="getData('AS','Application Settings','<?php echo htmlspecialchars(json_encode($object,JSON_FORCE_OBJECT)); ?>')">
				<?php echo $value['SUMMARY']['APP_NAME'] ?>
			</button>
		</div>
<?php
		if (intval($value['SUMMARY']['TOTAL']) > 0)
		{
?>
		<div>
			<button class="details"
			        onclick="showDetails(this.parentNode.parentNode.children[2])">
				<span style="padding: 10px">Instances — Total: <?php echo $value['SUMMARY']['TOTAL'] ?></span>
<?php
					if ($value['SUMMARY']['LAUNCHED'] > 0)
					{
						?>
						<span
							style="padding: 10px;color:darkgreen">Launched: <?php echo $value['SUMMARY']['LAUNCHED'] ?></span>
<?php
					}
					else
					{
?>
						<span
							style="padding:10px;color:black">Launched: <?php echo $value['SUMMARY']['LAUNCHED'] ?></span>
<?php
					}
					if ($value['SUMMARY']['PENDING'] > 0)
					{
?>
						<span
							style="padding: 10px;color: darkred">Pending: <?php echo $value['SUMMARY']['PENDING'] ?></span>
<?php
					}
					else
					{
?>
						<span
							style="padding: 10px;color:black">Pending: <?php echo $value['SUMMARY']['PENDING'] ?></span>
<?php
					}
?>
			</button>
		</div>
<?php
			}
			if (intval($value['SUMMARY']['TOTAL']) > 0 and isset($value['CONTENT']))
			{
?>
			<div style="display: none">
				<table border=0 cellpadding="5">
					<col style="width:5%;">
					<col style="width:10%;">
					<col style="width:15%;">
					<col style="width:20%;">
					<col style="width:15%;">
					<col style="width:20%">
					<col style="width:15%">
					<thead>
					<tr>
						<th>State</th>
						<th>Instance</th>
						<th>Description</th>
						<th>HeartBeat</th>
						<th>Scheduled at</th>
						<th>Host</th>
						<th>Pending action</th>
					</tr>
					</thead>
					<tbody>
<?php
						foreach ($value['CONTENT'] as $v)
						{
							include('./templates/row.html');
							$counter++;
						}
?>
					</tbody>
				</table>
			</div>
<?php
			}
?>
		</div>