<!DOCTYPE html>
<html>
    <head>
        <title>Administration Tool</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <script type="text/javascript" src="/scripts/containers.js"></script>
        <script type="text/javascript" src="/scripts/starter.js"></script>
    </head>
    <script>
        //setInterval(function(){getHeartBeat()}, 15000);
    </script>
    <body onload="correctAllDates()">
        <div id="error" ></div>
        <div id="content" >
            <div class="shadow">
                <h3 >Administration Tool Application © MOEX 2013-2014</h3>
            </div>
            <?php
                foreach ($data as $value)
                {
	                include('./templates/block.html');
                }
            ?>
            <div class="shadow area">
	            <button class="details" onclick="getData('CS',this.innerHTML,null)">
		            Add application
	            </button>
            </div>
        </div>
    </body>
</html>