<?php
	include($this->lang);
?>
<!DOCTYPE html>
<html>
    <head>
        <title><?php echo $LANG['TITLE'] ?></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	    <script type="text/javascript" src="/jquery/container.js"></script>
	    <script type="text/javascript" src="/jquery/main.js"></script>
    </head>
    <body >
        <div id="main" >
            <div class="shadow">
                <h3 ><?php echo $LANG['COPYRIGHT'] ?></h3>
            </div>
            <?php
                foreach ($data as $value)
                {
	                include('./templates/block.html');
                }
            ?>
            <div class="shadow area">
	            <button class="details area" onclick="show('CS',this.innerHTML,null)"><?php echo $LANG['ADD']?></button>
            </div>
        </div>
    </body>
</html>