<tr id="<?php echo $value['SUMMARY']['APP_NAME'] . '_' . $v['INSTANCEID'] ?>">
	<td>
		<div class='circle' style="background-color:
<?php
				if ($v['IS_RUNNING'] == 'Y' and intval($v['HB_DELTA']) < 15) echo 'green';
				elseif ($v['IS_RUNNING'] == 'Y' and intval($v['HB_DELTA']) > 15) echo 'orange';
				elseif ($v['IS_RUNNING'] == 'N') echo 'red';
?>      ">
		</div>
	</td>
	<td><?php $object['INSTANCEID'] = $v['INSTANCEID'];?>
		<button onclick="getData('IS','Instance Settings','<?php echo htmlspecialchars(json_encode($object,JSON_FORCE_OBJECT)); ?>')"><?php echo $v['INSTANCEID'] ?></button>
	</td>
	<td><?php echo $v['DESCRIPTION'] ?></td>
	<td data-stamp="LAST_HEARTBEAT"><script> document.write(correctDate('<?php echo $v['LAST_HEARTBEAT'] ?>'))</script></td>
	<td><?php echo $v['EVENTTIME'] ?></td>
<?php
	if($v['COMMAND'] != '' && $v['PARAMETERS'])
	{
		if ($v['IS_RUNNING'] == "N" and ($v['EVENTNAME'] == "Start" or $v['EVENTNAME'] == "Resume"))
		{
?>
		<td >
			<select >
<?php
				foreach ($v['HOSTS'] as $key => $option)
				{
?>
					<option value="<?php echo $option ?>" label="<?php echo $v['HOSTS_DESC'][$key] ?>"></option>
<?php
				}
?>
			</select>
		</td>
		<td>
			<button class='blue'
			        onClick="doSSH('<?php echo $value['SUMMARY']['APP_NAME'] ?>','<?php echo $v['INSTANCEID'] ?>')"><?php echo $v['EVENTNAME'] ?></button>
		</td>
<?php
		}
		elseif ($v['IS_RUNNING'] == "Y" and ($v['EVENTNAME'] == "Stop" or $v['EVENTNAME'] == "Suspend"))
		{
?>
		<td>
			<select disabled >
				<option value="<?php echo $v['RUNNING'] ?>" label="<?php echo $v['RUNNING_DESC'] ?>"></option>
			</select>
		</td>
		<td>
			<button class='blue'
			        onClick="doSSH('<?php echo $value['SUMMARY']['APP_NAME'] ?>','<?php echo $v['INSTANCEID'] ?>')"><?php echo $v['EVENTNAME'] ?></button>
		</td>
<?php
		}
		else
		{
?>
			<td><?php echo $v['RUNNING_DESC'] ?></td>
			<td><?php echo $v['EVENTNAME'] ?></td>
<?php
		}
	}
	else
	{
?>
		<td><?php echo $v['RUNNING_DESC'] ?></td>
		<td><?php echo $v['EVENTNAME'] ?></td>
<?php
	}
?>
</tr>