<tr id="<?php echo $counter ?>">
	<td>
		<div style='margin: 0 auto;position:relative;width:30px;'>
			<div class='circle'  style="background-color:
			<?php
				if ($v['IS_RUNNING'] == 'Y' and intval($v['HB_DELTA']) < 15) echo 'green';
				elseif ($v['IS_RUNNING'] == 'Y' and intval($v['HB_DELTA']) > 15) echo 'orange';
				elseif ($v['IS_RUNNING'] == 'N') echo 'red';
			?>
				"></div>
		</div>
	</td>
	<td><?php $object['INSTANCEID'] = $v['INSTANCEID'];?><!--<a class="link classic"
	       href="http://administrating/Settings/Show/Application/<?php echo $value['SUMMARY']['APP_NAME'] ?>/Instance/<?php echo $v['INSTANCEID'] ?>"><?php echo $v['INSTANCEID'] ?></a>
		-->
		<button class="link classic" onclick="getData('IS','Instance Settings','<?php echo htmlspecialchars(json_encode($object,JSON_FORCE_OBJECT)); ?>')">
			<?php echo $v['INSTANCEID'] ?>
		</button>
	</td>
	<td><?php echo $v['DESCRIPTION'] ?></td>
	<td data-stamp="LAST_HEARTBEAT" ><?php echo $v['LAST_HEARTBEAT'] == '' ? 'Нет данных' : $v['LAST_HEARTBEAT'] ?></td>
	<td><?php echo $v['EVENTTIME'] ?></td>
	<?php if ($v['IS_RUNNING'] == "N" and ($v['EVENTNAME'] == "Start" or $v['EVENTNAME'] == "Resume"))
	{
		?>
		<td style="text-align: left;">
			<select style="background-color:inherit;">
			<?php
				foreach ($v['HOSTS'] as $key => $option)
				{
			?>
					<option value="<?php echo $option ?>" label="<?php echo $v['HOSTS_DESC'][$key] ?>"></option>
			<?php
				}
			?>
			</select>
		</td>
		<td>
			<button class='classname blue'
			        onClick="doSSH('<?php echo $counter ?>','<?php echo $value['SUMMARY']['APP_NAME'] ?>')"><?php echo $v['EVENTNAME'] ?></button>
		</td>
	<?php
	}
	elseif ($v['IS_RUNNING'] == "Y" && ($v['EVENTNAME'] == "Stop" || $v['EVENTNAME'] == "Suspend"))
	{
		?>
		<td>
			<select disabled style="background-color:inherit;">
				<option><?php echo $v['HOST'] ?></option>
			</select>
		</td>
		<td>
			<button class='classname blue'
			        onClick="doSSH('<?php echo $counter ?>','<?php echo $value['SUMMARY']['APP_NAME'] ?>')"><?php echo $v['EVENTNAME'] ?></button>
		</td>
	<?php
	}
	else
	{
		?>
		<?php if ($v['IS_RUNNING'] == "Y")
	{
		?>
		<td>
			<select disabled style="background-color:inherit;">
				<option value="<?php echo $v['RUNNING'] ?>"><?php echo $v['RUNNING_DESC'] ?></option>
			</select>
		</td>
	<?php
	}
	elseif ($v['IS_RUNNING'] == "N")
	{
		?>
		<td></td>
	<?php } ?>
		<td><?php echo $v['EVENTNAME'] ?></td>
	<?php } ?>
</tr>