<div class="angle" style="position:fixed;width: 15%;top:70px;left:20px;z-index: 0">
    <div id="Main" >
        <div >
            <a class='link styled' style="font:25px serif;padding-left:10px;color:#1d7de3" href="http://administrating/">Main</a>
        </div>
    </div>
    <div id="Calendar" style="display: block;margin-top: 20px">
        <div >
            <button class='link styled' style="font:25px serif;color:#1d7de3" onClick="getData('EC','Calendar', null)">Exclusions</button>
        </div>
    </div>
    <div id="Hosts" style="margin-top: 20px">
        <div >
            <button class='link styled' style="font:25px serif;color:#1d7de3" onClick="getData('LH','Hosts',null)">Hosts</button>
        </div>
    </div>
</div>
