<div class="angle" style="position:fixed;width: 15%;top:70px;left:20px;z-index: 0">
    <div id="Main" >
        <div >
            <a class='link styled' style="font:25px serif;padding-left:10px;color:#1d7de3" href="http://administrating/">Main</a>
        </div>
    </div>
    <div id="Weekdays" style="display: block;margin-top: 20px">
        <div >
            <button class='link styled' style="font:25px serif;color:#1d7de3" onClick="getData('Weekdays',this.innerHTML)">Weekdays</button>
        </div>
        <!--<div style="padding-left: 10px">
            <button class='link styled' onClick="getData('Calendar',this.innerHTML)">Exclusions</button>
            <button class='link styled' onClick="getData('Weekdays',this.innerHTML)">Weekdays</button>
        </div>-->
    </div>
    <div id="Calendar" style="display: block;margin-top: 20px">
        <div >
            <button class='link styled' style="font:25px serif;color:#1d7de3" onClick="getData('Calendar',this.innerHTML)">Exclusions</button>
        </div>
        <!--<div style="padding-left: 10px">
            <button class='link styled' onClick="getData('Calendar',this.innerHTML)">Exclusions</button>
            <button class='link styled' onClick="getData('Weekdays',this.innerHTML)">Weekdays</button>
        </div>-->
    </div>
    <div id="Events" style="display: block;margin-top: 20px">
        <div>
            <button class='link styled' style="font:25px serif;color:#1d7de3" onClick="getData('Eventtypes',this.innerHTML)">Events</button>
        </div>
        <!--<div style="padding-left: 10px">
            <button class='link styled' onClick="getData('Instance_Events',this.innerHTML)">Instances'</button>
            <button class='link styled' onClick="getData('Eventtypes',this.innerHTML)">Types</button>
        </div>-->
    </div>
    <div id="Hosts" style="margin-top: 20px">
        <div >
            <button class='link styled' style="font:25px serif;color:#1d7de3" onClick="getData('Hosts',this.innerHTML)">Hosts</button>

        </div>
        <!--<div style="padding-left: 10px;">
            <button class='link styled' onClick="getData('Hosts',this.innerHTML)">Info</button>
            <button class='link styled' onClick="getData('Instance_Hosts',this.innerHTML)">Instances'</button>
        </div>-->
    </div>
</div>
